@font-face {
    font-family: 'mulilight';
    src: url('/assets/webfontkit/muli-light-webfont.eot');
    src: url('/assets/webfontkit/muli-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/webfontkit/muli-light-webfont.woff2') format('woff2'),
         url('/assets/webfontkit/muli-light-webfont.woff') format('woff'),
         url('/assets/webfontkit/muli-light-webfont.ttf') format('truetype'),
         url('/assets/webfontkit/muli-light-webfont.svg#mulilight') format('svg');
    font-weight: normal;
    font-style: normal;
}
