@import 'fonts';
@import 'colors';
@import 'template';

.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

html {
  height: 100%;
  background: #3D3B38;
  background-image: url("/assets/footer_lodyas.png");
  padding: 0 40px;
}

body{
  border-top: 10px solid $menuBlue;
  max-width: 920px;
  margin: 0 auto;
  font-family: 'mulilight';
  background: #f7f7f7;
  padding: 20px 40px 20px 40px;
  box-shadow: 0 0 20px 0 #262626;
}

.top-menu {
  color: white;
  padding: 0 10px 0 10px;
  background: $menuBlue;
  width: 170px;
  position: absolute;
  top: 0;
  margin: -40px -50px 0 40px;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: ease-in;
  height: 40px;
}

.top-wrap:hover .top-menu {
  transition-timing-function: ease-out;
  transition-duration: 0.4s, 0.4s;
  margin: -57px -50px 0 40px;
  top: 40px; /* show menu when main area is hovered over */
}

.top-wrap-menu {
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-top: 20px solid #262626;
  margin: -31px 0 0 -40px;
  float: right;
  clear: both;
}

.top-logo{
  width: 100%;
  color: white;
  margin: -30px 0 0 -40px;
  background: #19377b;
  padding: 3px 43px 5px 37px;
  display: block;
}

.menu {
  color: white;
  background: red;
  width: 40px;
  padding: 20px 0 0 0;
  width: 60px;
  position: absolute;
  top: 0;
  left: 160px;
  margin: 0 0 0 -60px;
  transition-duration: 0.6s, 0.6s;
  transition-timing-function: ease-in;
  height: 100%;
}

.title{
  font-size: 16pt;
  width: 200px;
}
/* #### it's the existance of the projects title that is bumping the elements down funny */
.wrap:hover .menu {
  color: white;
  background: #19377b;
  width: 80px;
  transition-timing-function: ease-in;
  transition-duration: 0.6s, 0.6s;
  padding: 20px;
  height: 100%;
  left: 220px;
}

.wrap-menu {
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-top: 20px solid #262626;
    margin: -31px -20px 0 0;
  float: right;
  clear: both;
}

.menu a:visited, .menu a:link, .top-menu a:visited, .top-menu a:link {
  color: white;
  text-decoration: none;

}

.menu a:hover, .top-menu a:hover {
    text-decoration: underline;
  }

.menu a:active, .top-menu a:active{
      text-decoration: none;
  }

.logo{
  margin: -5px -33px 0 0;
  background: #19377b;
  padding: 5px 7px 5px 3px;
  float: right;
}

.header-table-1{
  display: inline;
  float: left;
  padding: 0 15px 15px 0;
  @media (max-width: 790px) {
  display: none;
  }
}

.header-table-2{
  display: inline;
  float: left;
  padding: 0 20px 20px 0;
  @media (max-width: 790px) {
  display: block;
  float: center;
  text-align: center;
  width: 350px;
  margin: 0 auto;
  }
}

.header-table-2 img{
  @media (max-width: 790px) {
    width: 100%;
    max-width: 400px;
    margin: 0 -12px 0 0;
  }
}

.header-table-3 {
  margin: 0 0 40px 0;
  font-size: 16pt;
  display: inline;
  float: left;
  padding: 0 20px 20px 0;
  @media (max-width: 1000px) {
  display: none;
  }
}

.header-table-3 p{
  vertical-align: text-top;
  display: inline;
  margin: 10px 0 50px 0;
}

.header-table-3 img{
  display: inline;
  margin: 0 0 -2px 0;
}

.break{
    clear: both;
}

a:visited, a:link {
  color: #000;
    text-decoration: none;
  }

a:hover {
  text-decoration: underline;
}

a:active{
  color: #19377b;
    text-decoration: none;
}

h3{
  margin: 0 0 5px 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.projects{
  width: 67%;
  float: left;
  @media (max-width: 850px) {
  width: 90%;
}
}

.lift-left{
  background: white;
  padding: 10px 10px 10px 50px;
  /* box-shadow: 4px 4px 0 0 #777; */  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-top: 1px solid $shadowGrey;
  border-right: 1px solid $shadowGrey;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid $shadowGrey;
  width: 100%;
  margin: 0 0 0 -55px;
  float: left;
}

.drop-left{
  padding: 0 16px 0 40px;
  font-size: 3px;
  width: 100%;
  margin: 6px 0 0 -55px;
}

.wrap-left {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-top: 15px solid $shadowGrey;
  margin: -5px 0 0 -55px;
}

.trainings{
  width: 30%;
  float: right;
  @media (max-width: 850px) {
  display: none;
}
}

.reveal{
  display: none;
  @media (max-width: 850px) {
  display: block;
  width: 300px;
}
}

.lift-right{
  background: white;
  padding: 10px 50px 18px 10px;
  /* box-shadow: 4px 4px 0 0 #777; */  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-top: 1px solid $shadowGrey;
  border-left: 1px solid $shadowGrey;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid $shadowGrey;
  width: 100%;
  margin: 0 -55px 0 0;
  float: right;
  clear: both;
}

/* .trainings .one, .trainings .three{
  padding-bottom: 18px;
} */

.trainings .two{
  padding-bottom: 25px;
}

.trainings .bump-up{
  margin-top: -6px;
}

.wrap-right {
  position: relative;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-top: 15px solid $shadowGrey;
  margin: -20px -55px 0 0;
  float: right;
  clear: both;
}

.lift-full{
  background: #fff;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 1px solid $shadowGrey;
  border-bottom: 1px solid $shadowGrey;
  padding: 10px 55px 10px 55px;
  width: 100%;
  margin: 0 -55px 0 -55px;
}

.wrap-full {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-top: 15px solid $shadowGrey;
  margin: -20px 0 0 -55px;
  float: left;
  position: relative;
}

.thumb img{
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  margin: -10px 10px -10px 0;
  height: 110px;
  display: inline;
  float: left;
  @media (max-width: 700px) {
  display: block;
  float: center;
  margin: 10px auto;
}
}

.thumb h3{
  @media (max-width: 700px) {
  display: block;
  float: center;
  width: 250px;
  min-width: 100px;
  margin: 0 auto;
  padding-left: 80px;
}
  @media (max-width: 505px) {
  width: 220px;
}
}



.projects-left{
  float: left;
  display: inline-block;
  min-height: 300px;
  @media (max-width: 1000px) {
  display: block;
  float: center;
  width: 400px;
  margin: 0 auto;
}
}

.projects-right{
  padding: 0 15px;
  display: inline-block;
  max-width: 505px;
  min-height: 300px;
  @media (max-width: 1100px) {
  width: 400px;
}
  @media (max-width: 1000px) {
  min-width: 100%;
  min-height: 100%;
}
  @media (max-width: 500px) {
  max-width: 300px;
}
}

.projects-left img{
  @media (max-width: 500px) {
  max-width: 300px;
}
}

.footer{
  text-align: right;
}

h3 img{
  height: 17.5px;
  vertical-align: -10%;
}
