
.menu {
  color: white;
  padding: 20px 0 0 0;
  background: #12246a;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 0 0 -60px;
  transition-property: left;
  transition-duration: 0.7s, 0.7s;
  transition-timing-function: ease-out;
  height: 100%;
}

.wrap:hover .menu {
  color: white;
  transition-timing-function: ease-out;
  transition-property: left;
  transition-duration: 0.7s, 0.7s;
  padding: 20px;
  width: 80px;
  background: #12246a;
  height: 100%;
  left: 60px; /* show menu when main area is hovered over */
}

.menu a:visited, .menu a:link {
  color: white;
  text-decoration: none;

}

.menu a:hover {
    text-decoration: underline;
  }

.menu a:active{
    color: ;
      text-decoration: none;
  }

.logo{
  margin: -5px -33px 0 0;
  background: #12246a;
  padding: 5px 7px 5px 3px;
  float: right;
}

html {
  height: 100%;
  background: #646464;
  padding: 0 40px;

}

body{
  border-top: 10px solid #19377b;
  max-width: 960px;
  margin: 0 auto;
  font-family: arial;
  background: #f7f7f7;
  padding: 20px;
  box-shadow: 0 0 20px 0 #262626;
}

  a:visited, a:link {
    color: #000;
      text-decoration: none;
    }

  a:hover {
    text-decoration: underline;
  }

  a:active{
    color: #19377b;
      text-decoration: none;
  }


h3{
  margin: 0 0 5px 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.projects{
  width: 65%;
  float: left;
}

.lift-left{
  background: white;
  padding: 10px 10px 10px 40px;
  /* box-shadow: 4px 4px 0 0 #777; */  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #000;
  width: 100%;
  margin: 0 0 0 -40px;
  float: left;
}

.drop-left{
  padding: 0 16px 0 40px;
  font-size: 3px;
  background: #262626;
  width: 100%;
  margin: 6px 0 0 -40px;
}

.wrap-left {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-top: 20px solid #262626;
  margin: 0 0 0 -40px;
}

.trainings{
  width: 28%;
  float: right;
}

  .lift-right{
    background: white;
    padding: 10px 40px 10px 10px;
    /* box-shadow: 4px 4px 0 0 #777; */  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #000;
    width: 100%;
    margin: 0 -40px 0 0;
    float: right;
    clear: both;
  }

  .drop-right{
    padding: 0 40px 0 16px;
    font-size: 3px;
    background: #262626;
    width: 95%;
    margin: 0 -40px 0 0;
    float: right;
  }

  .wrap-right {
    align: right;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-top: 20px solid #262626;
    margin: 0 -40px 0 0;
    float: right;
    clear: both;
  }

  .lift-full{
    background: #fff;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px 40px 10px 40px;
    width: 100%;
    margin: 0 -40px 0 -40px;
  }

  .drop-full{
    padding: 0 41px 0 40px;
    font-size: 3px;
    background: #262626;
    width: 100%;
    margin: 0 -41px 0 -40px;
    float: right;
  }

  .wrap-full {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-top: 20px solid #262626;
    margin: 0 0 0 -40px;
    float: left;
  }

.thumb img{
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  margin: -10px 10px;
  height: 100px;
  display: inline;
  float: left;
}

.footer{
  text-align: right;
}
