html {
  background: #777;


}

body{
  border-top: 10px solid #19377b;
  margin: 0 50px 0 50px;
  font-family: arial;
  background: #f7f7f7;
  padding: 20px;
}


  a:visited, a:link {
    color: #000;
      text-decoration: none;
    }

  a:active{
    color: #19377b;
  }

  a:hover {
    text-decoration: underline;
  }

html, body {
  color: #000;
}

.lift{
  background: white;
  padding: 10px 10px 10px 20px;
  /* box-shadow: 4px 4px 0 0 #777; */  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  width: 70%;
  margin: 0 0 0 -20px;
  float: left;
}

.drop{
  padding: 0 16px 0 20px;
  font-size: 3px;
  background: #777;
  width: 70%;
  margin: 6px 0 0 -20px;
  clear: vertical;
}
