<div class="top-wrap">
  <div class="top-menu"><br>
    {{#link-to 'resume'}}resume{{/link-to}}&nbsp;
    {{#link-to 'projects'}}projects{{/link-to}}
  </div><!--/.menu-->
  <span class = "top-logo"> Menu</span>
</div><!--/.wrap-->

<br>

    <div class = "header-table-1">
      <img src = "assets/face-lrg.jpg", width = "216", height = "216" >
    </div>
    <div class = "header-table-2">
      <div class = "card">
        <div class="right">
          <span>Drew_Cuddhy.Web_Developer</span> <br>
          <a href="mailto:dcuddhy@gmail.com">dcuddhy@gmail.com</a> <br><br><br><br><br><br>
        </div>

         dcuddhy |
        <a href= "https://github.com/dcuddhy" target="_blank"> <i class = "fa fa-github"></i> </a>
        <a href= "https://www.linkedin.com/in/dcuddhy" target="_blank"> <i class = "fa fa-linkedin-square"></i> </a>
        <a href= "https://twitter.com/dcuddhy" target="_blank"> <i class = "fa fa-twitter"></i> </a>
      </div>
      <!-- <img src = "/assets/biz-card4b.svg", height = "216"> -->
    </div><br>
    <div class = "header-table-3">
      <img src = "/assets/badges/ruby-original.svg", height = "22"  > <p>Ruby</p> <br>
      <img src = "/assets/badges/rails-logo.svg", height = "22"  > <p>Ruby on Rails</p> <br>
      <img src = "assets/badges/js-logo.svg", height = "22"  > <p>JavaScript</p> <br>
      <img src = "assets/badges/ember-logo.svg", height = "22" > <p>Ember</p>  <br>
      <img src = "assets/badges/html5-logo.svg", height = "22"  > <p>HTML</p> <br>
      <img src = "assets/badges/css3-logo.svg", height = "22"  > <p>CSS</p> <br>
      <img src= "assets/favicons/tbcdc-favi.svg", height = "22"  > <p>CSS</p>
    </div>

<div class = "break"></div>


{{outlet}}
<!-- <h2 id='title'>Drew Cuddhy</h2> -->
<div class = "footer">
{{#link-to 'resume'}}resume{{/link-to}}
 |
{{#link-to 'projects'}}projects{{/link-to}}
</div>
