{{outlet}}

my projects

<h3>My projects.</h3>
<br><br>
<div class = "lift">
The Beard Club<br>
APIs - Facebook, Tumblr, Flickr, Instagram, 500px, 4,100 followers <br>
</div>
<br>

<h3>Drew Cuddhy Photography<br></h3>
Photography portfolio with JS gallery, Wordpress blog with live shoot integration, and
store front.<br>
<br>
<h3>Rantly</h3>
<br>
<h3>gCamp<br></h3>
A Rails app that has some of the same functionality as Basecamp.
<br>
<h3>Music Player<br></h3>
Mustache, AJAX, HTML5 Audio & CSS.
<br>
<h3>Snipits Template<br></h3>
CSS
<br>
<br><br><br><br>

skills
<br><br>
mustache<br>
handlebars<br>
svg<br>
