{{outlet}}

<center>  <h2>Projects.</h2> </center>
<br><br>

<div class = "lift">
<h3>The Beard Club</h3><br>
APIs - Facebook, Tumblr, Flickr, Instagram, 500px, 4,100 followers <br>
</div>
<div class = "drop">
  &nbsp;
</div>
<br>

<div class = "lift">
<h3>Drew Cuddhy Photography</h3><br>
Photography portfolio with JS gallery, Wordpress blog with live shoot integration, and
store front.<br>
</div>
<div class = "drop">
  &nbsp;
</div>
<br>

<div class = "lift">
<h3>Rantly</h3>
</div>
<div class = "drop">
  &nbsp;
</div>
<br>

<div class = "lift">
<h3>gCamp</h3><br>
A Rails app that has some of the same functionality as Basecamp.
</div>
<div class = "drop">
  &nbsp;
</div>
<br>

<div class = "lift">
<h3>Music Player</h3><br>
Mustache, AJAX, HTML5 Audio & CSS.
</div>
<div class = "drop">
  &nbsp;
</div>
<br>

<div class = "lift">
<h3>Snipits Template</h3><br>
CSS
</div>
<div class = "drop">
  &nbsp;
</div>
<br>

<br><br><br><br>

skills
<br><br>
mustache<br>
handlebars<br>
svg<br>
