{{outlet}}

<div class="title">
  About
</div>

<div class = "lift-full">
My greatest strengths are understanding how to learn and my ability to be
comfortable while not having immediate solutions. I value company culture,
hard work and teams that will challenge me.
</div>

<div>
  &nbsp;
</div>
<div class = "wrap-right">
</div>
<div class = "wrap-full">
</div>

<div class="clearfix">
  <div class="projects">
<div class="title">
  Portfolio
</div>
    {{#each}}
    <div class = "lift-left">
            <span class = "thumb">{{{thumb}}}</span>
      <h3>{{{name}}}</h3>
      {{{desc}}}
    </div>
    <div class = "drop-left">
      &nbsp;
    </div>
    <div class = "wrap-left">
    </div>
    {{/each}}
  </div>

  <div class = "trainings title">
    Training
  </div>

  <div class="trainings">
    <div class = "lift-right one">
      <h3>Web Developer</h3>
        gSchool, Boulder, CO <br>
        Oct. 2014 - April 2015 <br>
        Full Stack, Immersive <br>
        • Ruby/Ruby on Rails <br>
        • JavaScript/Ember <br>
        • Test Driven Development <br>
        • Data Parsing <br>
        • HTML/CSS <br>
        • Git/GitHub <br>
    </div>
    <div>
      &nbsp;
    </div>
    <div class = "wrap-right">
    </div>
  </div>

  <div class = "trainings title">
  Work Studies
  </div>

  <div class="trainings">
    <div class = "lift-right two">
      <h3>Web Developer</h3>
        Galvanize, Boulder, CO <br>
        Feb. - March 2015 <br>
        Ember/Ruby on Rails <br>
        Room Booking App. <br>
        • Paired Programming <br>
        • Deployed Across 5 Hubs <br>
        • Running on iOS 8 <br>
    </div>
    <div>
      &nbsp;
    </div>
    <div class = "wrap-right">
    </div>
  </div>

<div class="projects">
<div class="title">
  Experience
</div>
    <div class = "lift-left">
      <h3>Software Engineer</h3>
      Envysion, Inc., Superior, CO, June 2015 - Present <br>
      Focusing on Front End development with AngularJS and Less. <br> <br>

      <h3>Sole Proprietor</h3>
      Drew Cuddhy Photography, Boulder, CO, Jan. 2012 - Sept. 2014 <br>
      Branding through graphics, web design, and photographic styling.

    </div>
    <div class = "drop-left">
      &nbsp;
    </div>
    <div class = "wrap-left">
    </div>
  </div>

  <div class="trainings">
    <div class="title bump-up">
      Education
    </div>
    <div class = "lift-right three">
      <h3>B.A. Communications</h3>
        Stockton, Pomona, NJ <br>
        May 2007 <br>
        Focus: Advertising <br>
        Minor: Writing <br>
        • Program Distinction <br>
        • Cum Laude <br>
    </div>
    <div>
      &nbsp;
    </div>
    <div class = "wrap-right">
    </div>
  </div>

</div>






<div class="reveal projects">

  <div class = "title">
    Training
  </div>

    <div class = "lift-left one">
      <h3>Web Developer</h3>
        gSchool, Boulder, CO <br>
        Oct. 2014 - April 2015 <br>
        Full Stack, Immersive <br>
        • Ruby/Ruby on Rails <br>
        • JavaScript/Ember <br>
        • Test Driven Development <br>
        • Data Parsing <br>
        • HTML/CSS <br>
        • Git/GitHub <br>
    </div>
    <div class = "drop-left">
      &nbsp;
    </div>
    <div class = "wrap-left">
    </div>

  <div class = "title">
  Work Studies
  </div>

    <div class = "lift-left two">
      <h3>Web Developer</h3>
        Galvanize, Boulder, CO <br>
        Feb. - March 2015 <br>
        Ember/Ruby on Rails <br>
        Room Booking App. <br>
        • Paired Programming <br>
        • Deployed Across 5 Hubs <br>
        • Running on iOS 8 <br>
    </div>
    <div class = "drop-left">
      &nbsp;
    </div>
    <div class = "wrap-left">
    </div>

    <div class="title bump-up">
      Education
    </div>
    <div class = "lift-left three">
      <h3>B.A. Communications</h3>
        B.A. Communications <br>
        Stockton, Pomona, NJ May 2007 <br>
        Focus: Advertising <br>
        Minor: Writing <br>
        • Program Distinction <br>
        • Cum Laude <br>
    </div>
    <div class = "drop-left">
      &nbsp;
    </div>
    <div class = "wrap-left">
    </div>

</div>

<div class="title">
  More <br>
</div>
<div class = "lift-full">
  bike rider, globetrotter, beard groomer, hand gesticulator, coffee
  connoisseur, weekend coder
</div>
<div>
  &nbsp;
</div>
<div class = "wrap-right">
</div>
<div class = "wrap-full">
</div>
<br>
