{{outlet}}

<div class="title">
  About
</div>
<div class = "lift-full">
  As a junior developer, I deeply value company culture
  and seek opportunities to continue to learn. I work hard
  and look forward to finding a team that will challenge me.
</div>
<div class = "drop-full">
  &nbsp;
</div>
<div class = "wrap-right">
</div>
<div class = "wrap-full">
</div>

<br><br>
<div class="title">
  Portfolio
</div>
<div class="clearfix">
  <div class="projects">
    {{#each}}
    <div class = "lift-left">
            <span class = "thumb">{{{thumb}}}</span>
      <h3>{{name}}</h3>
      {{{desc}}}
    </div>
    <div class = "drop-left">
      &nbsp;
    </div>
    <div class = "wrap-left">
    </div>
    {{/each}}
  </div>

  <div class = "trainings title">
    Training
  </div>

  <div class="trainings">
    <div class = "lift-right">
      <h3>Web Developer</h3>
        gSchool, Boulder, CO <br>
        Oct. 2014 - April 2015 <br>
        Full Stack, Immersive <br>
        • Ruby/Ruby on Rails <br>
        • JavaScript/Ember <br>
        • Test Driven Development <br>
        • Data Parsing <br>
        • HTML/CSS <br>
        • Git/GitHub <br>
    </div>
    <div class = "drop-right">
      &nbsp;
    </div>
    <div class = "wrap-right">
    </div>
  </div>

  <div class = "trainings title">
  Work Studies
  </div>

  <div class="trainings">
    <div class = "lift-right">
      <h3>Web Developer</h3>
        Galvanize, Boulder, CO <br>
        Feb. - March 2015 <br>
        Ember/Ruby on Rails <br>
        Room Booking App. <br>
        • Paired Programming <br>
        • Deployed Across 5 Hubs <br>
        • Running on iOS 8 <br>
    </div>
    <div class = "drop-right">
      &nbsp;
    </div>
    <div class = "wrap-right">
    </div>
  </div>

<div class="projects">
<div class="title">
  Experience
</div>
    <div class = "lift-left">
      <h3>Sole Proprietor</h3>
      Drew Cuddhy Photography, Boulder, CO, Jan. 2012 - Sept. 2014 <br>
      Branding through graphics, web design, and photographic styling. <br> <br>

      <h3>Small Business Manager</h3>
      Pekoe Sip House, Boulder, CO, Sept. 2012 - Sept. 2014 <br>
      Introduced products & practices to yield historic high net sales figures.
    </div>
    <div class = "drop-left">
      &nbsp;
    </div>
    <div class = "wrap-left">
    </div>
  </div>

  <div class="trainings">
    <div class = "lift-right">
      <h3>B.A. Communications</h3>
        B.A. Communications <br>
        Stockton, Pomona, NJ May 2007 <br>
        Focus: Advertising Minor: Writing <br>
        • Program Distinction <br>
        • Cum Laude <br>
    </div>
    <div class = "drop-right">
      &nbsp;
    </div>
    <div class = "wrap-right">
    </div>
  </div>

</div>

<br>
<div class="title">
  More <br>
</div>
<div class = "lift-full">
bike rider, globetrotter, beard groomer, hand gesticulator, coffee connoisseur
</div>
<div class = "drop-full">
  &nbsp;
</div>
<div class = "wrap-right">
</div>
<div class = "wrap-full">
</div>
<br>
